* {
    min-width: 250px;
}

#checkPage {
    min-height: 50px;
    background-color: white;
    color: blue;
    border-color: blue;
    border: solid 3px blue;
}

#checkPage:hover {
    background-color: blue;
    color: white;
}

#priceImg {
    max-width: 250px;
}